<!doctype html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue@3.0.5"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="noter.css"></link>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">

                    <div class="col-md-1" id="year">
                        <h4>Year:</h4>
                        <div v-for="yearobj in years">
                            <button v-on:click="show_months(yearobj)">{{ yearobj.year }}</button>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-1" id="month">
                        <h4>Month:</h4>
                        <div v-for="month in months">
                            <button v-on:click="fill_calendar(month)">{{ translate_month(month) }}</button>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-8" id="default" v-if="defaultview">
                        <button v-on:click="render_notes(true, 'NO DATE')">Create new note</button>
                    </div>
                    <div class="col-md-8" id="days-calendar" v-if="calendarview && !defaultview">
                        <div id="days-calendar">
                            <h4>{{ translate_month(selectedmonth) }}, {{ selectedyear }}</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Sunday</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1] }}{{ calendarlinks[i-1] }}</td></tr>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1+7] }}{{ calendarlinks[i-1+7] }}</td></tr>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1+14] }}{{ calendarlinks[i-1+14] }}</td></tr>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1+21] }}{{ calendarlinks[i-1+21] }}</td></tr>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1+28] }}{{ calendarlinks[i-1+28] }}</td></tr>
                                    <tr><td v-for="i in 7">{{ calendardays[i-1+35] }}{{ calendarlinks[i-1+35] }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div id="createnote-button">
                            <button v-on:click="render_notes(true, 'NO DATE')">Create new note</button>
                        </div>
                    </div>
                    <div class="col-md-8" id="notes" v-if="!calendarview && !defaultview">
                        <h4>Notes:</h4>
                        <div v-for="noteobj in notes">
                            <div >
                                <p>{{ noteobj.title }}</p>
                                <p>{{ noteobj.note }}</p>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-1" id="notes">
                        <button v-on:click="display_div">Open</button>
                        <br>
                        <div v-if="display_div_all">
                            <button v-on:click="create_note">Create Note</button>
                            <br><br>
                            <div id="notearea">
                                <label for="title">Write title here:</label>
                                <br>
                                <input type="text" id="title" name="title" v-model="existingtitle">
                                <br><br>
                                <label for="note">Write note here:</label>
                                <br>
                                <textarea id="note" name="note" rows="4" cols="50" v-model="existingnote">
                                    {{ existingnote }}
                                </textarea>
                                <br>
                                <button v-on:click="save_note">Save Note</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <script>
            const app = Vue.createApp({
                data: function() {
                    return {
                        curruser: "TEMPUSER",
                        defaultview: true,
                        calendarview: false,
                        existingtitle: "Please wait for your note to load...",
                        existingnote: "Please wait for your note to load...",
                        display_div_all: false,
                        months: [],
                        years: [],
                        calendardays: new Array(42).fill("-"),
                        calendarlinks: new Array(42).fill(""),
                        selectedyear: "",
                        selectedmonth: "",
                        notes: [],
                    }
                },
                methods: {
                    display_div: async function() {
                        this.display_div_all = !this.display_div_all;
                        //fetch('https://wujames-noter.herokuapp.com/2021/8/10/')
                        fetch('http://127.0.0.1:8000/2021/8/10/')
                            .then(response => response.json())
                            .then((json) => {
                                this.existingtitle = JSON.parse(JSON.stringify(json)).title;
                                this.existingnote = JSON.parse(JSON.stringify(json)).note;
                            });
                    },
                    show_months: function(yearobj) {
                        this.selectedyear = yearobj["year"];
                        this.months = yearobj["months"];
                    },
                    translate_month: function(month) {
                        let monthnames = {
                            "01": "Jan", "02": "Feb", "03": "Mar", "04": "Apr", "05": "May", "06": "Jun",
                            "07": "Jul", "08": "Aug", "09": "Sep", "10": "Oct", "11": "Nov", "12": "Dec"
                        };
                        return monthnames[month]
                    },
                    fill_calendar: async function(month) {
                        // reset calendar
                        this.defaultview = false;
                        this.calendarview = true;
                        this.calendardays = new Array(42).fill("-");
                        this.calendarlinks = new Array(42).fill("");
                        this.selectedmonth = month;
                        let yearandmonth = this.selectedyear + "-" + month;
                        console.log(yearandmonth);
                        
                        // from /getmonthdays, get days of given month and number of notes of each day
                        //fetch('https://wujames-noter.herokuapp.com/getmonthdays/' + this.curruser + '/' + yearandmonth + '/')
                        fetch('http://127.0.0.1:8000/getmonthdays/' + this.curruser + '/' + yearandmonth + '/')
                            .then(response => response.json())
                            .then((json) => {
                                let firstdayselectedmonth = new Date(yearandmonth + "-01T00:00:00.000");
                                let offset = firstdayselectedmonth.getDay();
                                let days = json["monthdays"]["days"];

                                let day = 1;
                                for (let i = offset; i < 31 + offset; i++) {
                                    let daystring = day < 10 ? "0" + day : "" + day;
                                    this.calendardays[i] = daystring;
                                    if (days.hasOwnProperty(daystring)) {
                                        this.calendarlinks[i] = ": " + days[daystring] + " notes";
                                    }
                                    day += 1;
                                }
                            });
                    },
                    render_notes: async function(newnote, day) {
                        this.defaultview = false;
                        this.calendarview = false;
                        this.notes = [];

                        let month = this.selectedmonth;
                        let year = this.selectedyear;
                        if (newnote) {
                            // create new note in database
                            await fetch('http://127.0.0.1:8000/createnote/')
                                .then(response => response.json())
                                .then((json) => {
                                    console.log(JSON.stringify(json));
                                });
                            
                            let today = new Date();
                            day = String(today.getDate()).padStart(2, "0");
                            month = String(today.getMonth() + 1).padStart(2, "0");
                            year = today.getFullYear();

                            // get all notes for today, including the new note
                            let date = year + '-' + month + '-' + day;
                            console.log(this.notes);
                            console.log(date);
                            //fetch('https://wujames-noter.herokuapp.com/createnote/')
                            fetch('http://127.0.0.1:8000/getnotes/' + this.curruser + '/' + date + '/')
                                .then(response => response.json())
                                .then(json => {
                                    this.notes = json["notes"];
                                    console.log(this.notes);
                                });
                        }
                        else {
                            console.log("else");
                        }
                        
                    },
                    create_note: async function() {
                        //fetch('https://wujames-noter.herokuapp.com/createnote/')
                        fetch('http://127.0.0.1:8000/createnote/')
                            .then(response => response.json())
                            .then((json) => {
                                console.log(JSON.stringify(json));
                                return Promise.resolve();
                            });
                    },
                    save_note: async function() {
                        let formData = new FormData();
                        formData.append('user', 'TEMPUSER');
                        formData.append('date', '2021-08-12');
                        formData.append('title', this.existingtitle);
                        formData.append('note', this.existingnote);
                        //fetch('https://wujames-noter.herokuapp.com/savenote/',
                        fetch('http://127.0.0.1:8000/savenote/',
                            {
                                body: formData,
                                method: 'POST'
                            })
                            .then(response => response.json())
                            .then(json => console.log(JSON.stringify(json)));
                    },
                    refresh_navbar: async function() {
                        //fetch('https://wujames-noter.herokuapp.com/getyearsmonths/' + this.curruser + '/')
                        fetch('http://127.0.0.1:8000/getyearsmonths/' + this.curruser + '/')
                            .then(response => response.json())
                            .then((json) => {
                                let yearsmonths = json["yearsmonths"];
                                for (let i = 0; i < yearsmonths.length; i++) {
                                    let yearobj = yearsmonths[i];
                                    this.years.push(yearobj);
                                }
                            });
                    }
                },
                mounted() {
                    this.refresh_navbar();
                },
            })
            app.mount("#app");
        </script>
    </body>
</html>
