<!doctype html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue@3.0.5"></script>
    </head>
    <body>
        <div id="app">
            <button v-on:click="display_div">Open</button>
            <br>
            <div v-if="display_div_all">
                <button v-on:click="hi">hi {{ name }}</button>
                <br><br>
                <form action="/todo">
                    <label for="notearea">Write note here:</label>
                    <br>
                    <textarea id="notearea" name="note" rows="4" cols="50" v-model='existingtext'>
                        {{ existingtext }}
                    </textarea>
                    <br><br>
                    <!-- <input type="submit" value="Save"> -->
                    <button v-on:click="save_note">Save Note</button>
                </form>
                <br><br>
                <p>Demonstrate v-model:</p>
                <p>{{ existingtext }}</p>
            </div>
        </div>

        <script>
            const app = Vue.createApp({
                data: function() {
                    return {
                        name: "james",
                        existingtext: "Please wait for your note to load...",
                        display_div_all: false,
                    }
                },
                methods: {
                    hi: function() {
                        console.log("hi " + this.name);
                    },
                    display_div: async function() {
                        this.display_div_all = !this.display_div_all;
                        fetch('https://wujames-noter.herokuapp.com/2021/8/10/')
                            .then(response => response.json())
                            .then(json => this.existingtext = JSON.parse(JSON.stringify(json)).note);
                    },
                    save_note: async function() {
                        let formData = new FormData();
                        formData.append('note', this.existingtext);

                        const response = await fetch('https://wujames-noter.herokuapp.com/savenote/',
                            {
                                body: formData,
                                method: 'POST'
                            });
                        console.log('Response: ' + response.json());

                        // data = {
                        //     note: this.existingtext
                        // }

                        // const response = await fetch('https://wujames-noter.herokuapp.com/savenote/', {
                        //     method: 'POST',
                        //     headers: {
                        //         'Content-Type': 'application/json'
                        //     },
                        //     body: JSON.stringify(data)
                        // });
                        // console.log('Response: ' + response.json());
                    },
                },
            })
            app.mount("#app");
        </script>
    </body>
</html>